<h3>Experiencia</h3>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Promotor en AMPF</h5>
          <p class="card-text">Encargado temporal de repartir volantes para la Asociación Mutual de Protección Familiar Jujuy.</p>
          <p class="card-text"><small class="text-body-secondary">(2012 y 2016)</small></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pasante en Openix SRL</h5>
          <p class="card-text">Por un período de 7 meses estuve como pasante y trabajé usando el lenguaje Java como Java Backend Developer</p>
          <p class="card-text"><small class="text-body-secondary">(2018-2019)</small></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Tallerista en merenderos</h5>
          <p class="card-text">Dictado de clases de manualidades varias como origami y también reciclaje.</p>
          <p class="card-text"><small class="text-body-secondary">(2020-actualidad)</small></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Otros</h5>
          <p class="card-text">También hice trabajos variados como cuidador de casa o sereno, ayudante de albañil, ayudante de carpintero, elaboración y venta de pan casero</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3>Educación</h3>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Primaria</h5>
          <p class="card-text">Escuela Primaria n° 436 "Pilar Bermudez".</p>
          <p class="card-text"><small class="text-body-secondary">(1996 - 2002)</small></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Secundaria</h5>
          <p class="card-text">Escuela Provincial de Artes n° 1 "Medardo Pantoja"</p>
          <p class="card-text">Bachiller con Orientación Docente y Técnico en Artes Visuales especializado en Pintura.</p>
          <p class="card-text"><small class="text-body-secondary">(2003-2007)</small></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Universitario</h5>
          <p class="card-text">Analista Programador Universitario.</p>
          <p class="card-text"><small class="text-body-secondary">(2010 - en curso)</small></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3>Cursos</h3>
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Primaria</h5>
          <p class="card-text">Escuela Primaria n° 436 "Pilar Bermudez".</p>
          <p class="card-text"><small class="text-body-secondary">(1996 - 2002)</small></p>
        </div>
      </div>
    </div>
  </div>