<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand"><i class="bi bi-terminal"></i> Argentina Programa #YoProgramo</a>
    <form class="d-flex" role="search">
      <button class="btn btn-outline-dark">
        <a href="#"><i class="bi bi-facebook"></i></a>
      </button>
      <button class="btn btn-outline-dark">
        <a href="#"><i class="bi bi-instagram"></i></a>
      </button>
      <button class="btn btn-outline-dark">
        <a href="#"><i class="bi bi-twitter"></i></a>
      </button>
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
<br>
<div class="card mb-3">
    <img src="./../../../assets/banner_universe.jpg" class="card-img-top" alt="..." style="border-radius: 25px 25px 0px 0px; height: 10%">
  </div>
  