<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        
        <img src="./../../../assets/yo.jpg" class="img-fluid" style="border-radius: 50%;" alt="...">
        <a><i class="bi bi-pencil-fill"></i></a>
        <br>
        <h5 class="card-title">Natanael Dominguez <a><i class="bi bi-pencil-fill"></i></a></h5>
        <p class="card-text">Full Stack Developer Jr </p>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">Sobre mi</h5>
          <p class="card-text">Estudiante universitario, próximo Analista Programador Universitario, apasionado por la informática, la astronomía y la astrofotografía.</p>
        </div>
      </div>
    </div>
  </div>